body {
    background-image: url(/Pics/wallpaper3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

button {
    padding: 10px 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5e395;
    border: none;
    cursor: pointer;
    font-weight: bold;

}

button:hover {
    background-color: rgb(57, 52, 52);
    color: burlywood;
    text-decoration: underline;
}

#trackingResult {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
}

#shipmentDetails {
    margin-top: 20px;
    display: none;
    background-color: #bebd95;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

#shipmentDetails.open {
    display: block;
}

home-button {
    text-align: center;
    margin-top: 20px;
}

.home-button a {
    display: inline-block;
    padding: 6px 10px;
    background-color: #f5e395;
    border: 2px solid grey;
    border-radius: 15px;
    color: rgb(32, 34, 36);
    border-radius: 5px;
    font-weight: bold;
}
.home-button a:hover
{
    background-color: rgb(57, 52, 52);
    color: burlywood;
    text-decoration: underline;
}
